<h1><%= @person.name %></h1>
<h4><%= @person.age %></h1>
<h4><%= @person.hair_color %></h4>
<h1><%= @person.eye_color %></h1>
<h4><%= @person.gender %></h1>
<h4><%= @person.alive %></h4>

<%= link_to 'Back', person_path %>